<?xml version="1.0" encoding="utf-8" ?>
<ShamWOW>

  <Version>4.5.08</Version>
  
  <!-- 
  NOTE:  Items are case sensitive 
         Only the Id is used (Name is ignored and for doc purposes only)
  -->
  <CleanseBlacklist>
    <Spell Id="96328" Name="Toxic Torment (Green Cauldron)" />
    <Spell Id="96325" Name="Frostburn Formula (Blue Cauldron)" />
    <Spell Id="96326" Name="Burning Blood (Red Cauldron)" />

    <Spell Id="92876" Name="Blackout (10man)" />
    <Spell Id="92878" Name="Blackout (25man)" />

    <Spell Id="30108" Name="(Warlock) Unstable Affliction" />

  </CleanseBlacklist>
  
  <PurgeWhitelist>   
    <Spell Id="29166" Name="(Druid) Innervate" />
    <Spell Id="79061" Name="(Druid) Mark of the Wild" />

    <Spell Id="83559" Name="(Hunter) Posthaste" />
    
    <Spell Id="46989" Name="(Mage) Improved Blink" />
    <Spell Id="79058" Name="(Mage) Arcane Brilliance" />
    <Spell Id="45438" Name="(Mage) Ice Block" />
    
    <Spell Id="642" Name="(Paladin) Divine Shield" />
    <Spell Id="1022" Name="(Paladin) Hand of Protection" />
    <Spell Id="31884" Name="(Paladin) Avenging Wrath" />
    <Spell Id="79102" Name="(Paladin) Blessing of Might" />
    <Spell Id="79063" Name="(Paladin) Blessing of Kings" />
    <Spell Id="54428" Name="(Paladin) Divine Plea" />

    <Spell Id="79105" Name="(Priest) Power Word: Fortitude" />
    
    <Spell Id="53390" Name="(Shaman) Tidal Waves" />
    <Spell Id="79206" Name="(Shaman) Spiritwalker's Grace" />

  </PurgeWhitelist>

  <MobList>
    <Mob Id="46647" Name="Training Dummy" HitBox="5" />
  </MobList>

  <MobList-Entries-From-Before-ShamWOW-4508>
    <Mob Id="00000" Name="Default" HitBox="5" />
    <Mob Id="10184" Name="Onyxia"  HitBox="10" />
    <Mob Id="47120" Name="Argaloth" HitBox="10" />
    <Mob Id="43296" Name="Chimaeron" HitBox="20" />
    <Mob Id="52409" Name="Ragnaros" HitBox="60" />
  </MobList-Entries-From-Before-ShamWOW-4508>

</ShamWOW>